<h2>Add to Schedule</h2>
<p>Select your name and details to add to the schedule<p>

<form action="/catalog/Schedule/create" method="POST">
	<label for="name">Student:</label><br>
	<select name="Name" required='true'>
		<option value=""></option>
		{{#if schedule_list}}
		{{#each schedule_list}}
		<option value="{{participant.name}}>{{participant.name}}</option>
		{{/each}}
		{{/if}}
	</select>
	<br><br>
	<label for="hsName">School Name:</label><br>
	<input name="hsName" type="text" id="hsName" value="{{data.hsName}}">
	<br><br>
	<input type="submit" value="Add School"><br>
</form>
	{{#if errors}}
    {{#each errors}}
	<p>{{this.msg}}</p>
	{{/each}}
	{{/if}}