<div class="container-fluid">
    <p>TWIST, or Teen Women in Science and Technology, is a one-day conference to expose teen women across the state to various career possibilities.
            TWIST was developed by K-State Polytechnic and the Salina community more than 25 years ago. </p>
</div>
<div class="container-fluid">
    <div class='row'>
        <p>Use the following form to add a new session</p>
    </div>
</div>
    <form action="/catalog/session/create" method="POST">
        <label for="IDNum">Session Number:</label><br>
        <input name="sessionNum" type="text" id="IDNum"><br><br>
        <label for="Name">Session Name:</label><br>
        <input name="Name" type="text" id="Name"><br><br>
        <label for="time">Session Time:</label><br>
        <input name="time" type="time" id="time"><br><br>
        <input type="submit" value="Add Session"><br>
    </form>
</div>