<form action="/catalog/Session/{{_id}}/update" method="POST">
	<label for="sessionNum">Session Number:</label><br>
	<input name="sessionNum" type="number" id="sessionNum" value="{{sessionNum}}"><br><br>
	<label for="sessionName">Session Name:</label><br>
	<input name="sessionName" type="text" id="sessionName" value="{{sessionName}}"><br><br>
	<label for="time">Session Time:</label><br>
	<input name="time" type="text" id="time" value="{{time}}"><br><br>
	<input type="submit" value="Update Session"><br>
</form>