<ul>
    {{#if session_list}}
    {{#each session_list}}
    <li>{{session}}</li>
    {{/each}}
    {{else}}
        <h1>No Sessions Available</h1>
    {{/if}}
</ul>
<a href="/catalog/Session/create">Create New Session</a>